<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="example-form">
        <ng-template matStepLabel>Informations de connexion</ng-template>
        <mat-form-field class="example-full-width" style="margin-top: 20px;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Exemple: nom.prenom@example.com" formControlName="premierCtrl" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="margin-top: 20px;">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="deuxiemeCtrl" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="margin-top: 20px;">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input type="password" matInput formControlName="troisiemeCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Informations personnelles</ng-template>
        <p>
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="premierCtrl" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="deuxiemeCtrl" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Date de naissance</mat-label>
                <input matInput formControlName="troisiemeCtrl" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </p>       
        
        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Adresse</ng-template>
      <p>Vous avez terminé !</p>
      <p>Un email vous a été envoyé afin de valider votre compte.</p>
      <div>
        <button mat-button (click)="goToLogin()">Se connecter</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
