<!--<div class="header">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg" style="text-align: center">
      <div class="test"></div>
    </div>
    <div class="col-lg"></div>
  </div>
</div>-->
<div class="row" style="width: 100%; height: 100%;">
  <div class="col-sm-7" style="background-color: white; width: 100%; height: 100%;">
    <div class="row">
      <div class="col-lg" style="text-align: center; margin-top: 30px">
        <h2>Bienvenue sur myFood</h2>
        <p style="margin-top: 50px;">Les meilleurs restaurants près de chez vous !</p>
        <mat-form-field class="example-full-width" style="margin-top: 20px;">
          <mat-label>Rechercher un restaurant</mat-label>
          <input (keyup.enter)="rechercher()" (keyup)="onKeyPassword($event)" matInput>
          <div class="" mat-icon-button matSuffix>
              <mat-icon>search</mat-icon>
          </div>
        </mat-form-field>
        <div class="row" style="margin-top: 60px;">
          <div class="col-sm borderTest">
            <div style="margin-top: 100px;">Se connecter</div>
          </div>
          <div class="col-sm">
            <div style="margin-top: 100px;">Créer un compte</div>
            <a style="text-decoration: underline;">Espace pro</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-sm-5" style="background-image: url('https://c0.wallpaperflare.com/preview/347/903/828/vegetables-healthy-salad-fit.jpg'); background-size: cover;">
  </div>
</div>